/vendor/
/.phpunit.result.cache
/.phpunit.cache/
/composer.lock
/.idea/
/.vscode/
*.log
node_modules/
_site/
.docmd-search/*
!.docmd-search/config.json
docs-site/node_modules/
docs-site/_site/
docs-site/.docmd-search/*
!docs-site/.docmd-search/config.json
